<div id='layout'>
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <div id="menu"></div>
    <div class="header">
        <img class='avatar' src='static/img/edward.png'/>
        <h1>Edward Bramanti</h1>
        <h2>Computer Science major at Loyola Marymount University. <br>
        Javascript, Backbone+Marionette, and Golang.</h2>
        <div class="contact-me">
            <a href="http://github.com/jadengore" class="fa fa-github fa-2x"></a>
            <a href="mailto:edward@bramanti.org" class="fa fa-envelope-o fa-2x"></a>
            <a href="http://www.linkedin.com/pub/edward-bramanti/" class="fa fa-linkedin fa-2x"></a>
            <a href="http://twitter.com/Jadengore/" class="fa fa-twitter fa-2x"></a>
            <a href="http://stackoverflow.com/users/1166128/jadengore" class="fa fa-stack-overflow fa-2x"></a>
        </div>
    </div>
    <div id="content"></div>
    <div class="footer">
        <div class="legal pure-g">
            <div class="pure-u-1">
                <p>&copy; Edward Bramanti, 2015.<br>
                Powered by <a href="http://backbonejs.org/">Backbone</a> + <a href="http://marionettejs.com">Marionette</a> + <a href="http://purecss.io/">Pure.css</a></p>
            </div>
        </div>
    </div>
</div>
