<div class='content'>
    <h2 class='content-subhead'>Welcome to my personal website.</h2>
    <p class='intro'>I am Edward Bramanti. I'm currently pursuing a Computer Science degree at Loyola Marymount University (LMU), with minors in Business Administration and Applied Mathematics. I am also a part of LMU's University Honors Program, where I have the opportunity to participate in specialized classes and accelerated learning. For more information on my background and work experience, keep scrolling below!</p>
    <h2 class='content-subhead'>Résumé</h2>
    <h3 class='content-subhead work'>Work Experience</h3>
        <h4><b><a href="http://www.techempower.com/">TechEmpower</a></b> - Programming Intern (October 2014 - Present)</h4>
        <p>Primary responsibility to TechEmpower's <a href="https://github.com/TechEmpower/FrameworkBenchmarks">Framework Benchmarks</a>. Development done in multiple full-stack and micro frameworks to better discern performance benefits/tradeoffs.</p>
        <h4 class='content-subhead'><b><a href="http://www.blitzagency.com/">Blitz Agency</a></b> - Technology Intern (June - August 2014)</h4>
        <p>Work at Blitz consisted of learning their new Backbone/Marionette/Django stack. Used Blitz's in-house tools to enhance learning of this full-stack architecture. I also worked on most of the back-end infrastructure of an intern project that was internal to Blitz.</p>
        <h4 class='content-subhead'><b><a href="http://www.lmu.edu/">Loyola Marymount University</a></b> - Rains Summer Undergraduate Research Fellow (May - June 2014)</h4>
        <p>Coducted research in Computer Science at the undergraduate level, specifically the field of human-computer interaction (HCI). Studied mobile real-time strategy games and why they had not found success amongst mobile gamers, particularly focusing the research around mobile control schemes and IxD paradigms.</p>
        <h4 class='content-subhead'><b><a href="http://www.cs.lmu.edu/">LMU Computer Science</a></b> - Keck Lab Assistant (2013 - Present)</h4>
        <p>I am a Teacher's Assistant in the Keck Lab, LMU's main computer science laboratory on campus. I assist with homework questions other students have, and perform general maintenance for computers and equipment in the lab.</p>
    <h3 class='content-subhead education'>Education</h3>
        <h4><b>Loyola Marymount University</b> - B.S. Computer Science (Fall 2011 - Spring 2015)</h4>
        <ul>
            <li><b>Minors</b> - Applied Mathematics, Business Administration</li>
            <li>University Honors Program Scholar</li>
            <li>Arrupe Scholarship Recipient</li>
        </ul>
</div>

