<div class='content'>
    <h2 class='content-subhead'>CherAmi</h2>
    <p>CherAmi is a social network application with a number of features to control sharing with their dearest friends in a simple, fun, and secure way. This project was developed as part of the Software Engineering Laboratory course at Loyola Marymount University during the Fall 2014 semester.</p>
    <p>My primary responsibility was to the webserver and API for the application. The API team used Go for the API and service layer logic and Neo4J as the persistence solution. I also assisted and wrote some of the code for the client-side Backbone/Marionette application.</p>
    <p>The project can be found <a href="https://github.com/rtoal/cher-ami">here</a>.</p>
    <h2 class='content-subhead'>PebbLIFX</h2>
    <p>Two Kickstarter projects become one.</p>
    <p>PebbLIFX allows you to control your LIFX bulbs from your Pebble. Utilizes the Android LIFX SDK wrapped within an Android service application and Pebble's C SDK for the front-end Pebble interface.</p>
    <p>The project is open-source and can be found <a href="https://github.com/jadengore/PebbLIFX">here</a>.</p>
    <h2 class='content-subhead'>KobraScript</h2>
    <p>KobraScript is a language I co-designed during my junior year of college. With an intutitive syntax and useful operators (such as exchange statements for swapping variables), KobraScript is designed to make a programmer more efficient. Kobrascript's compiler is built from the ground up in Node.js, unit-tested with Mocha, and completely open-source on Github.</p>
    <p> You can find the project <a href="https://github.com/AuthorOfTheSurf/KobraScript">here</a>.</p>
</div>

